<!doctype html>
<html lang="es">
  <head>
    <style>
      body{font-family:sans-serif;background:aliceblue;}
      section{display:grid;gap:20px;grid-template-columns:repeat(4,100fr);padding:20px;}
      article{border:1px solid indigo;padding:20px;background:white;display:flex;gap:20px;}
    </style>
  </head>
  <body>
    <header><h1>Gestión de escuela</h1></header>
    <section>
        {% for linea in datos: %}
        <article>
            <div class="texto">
                <p>Asignatura: {{linea['Nombre de la asignatura']}}</p>
                <p>Nombre: {{linea['Nombre del alumno']}}</p>
                <p>Apellidos: {{linea['Apellidos del alumno']}}</p>
            </div>
        </article>
        {% endfor %}
    </section>
  </body>
</html>
