html,body{
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
}
body{
  display:flex;
  font-family:sans-serif;
}
nav{
  background:plum;
  padding:20px;
  gap:20px;
  flex:1;
	display:flex;
  flex-direction:column;
  gap:20px;
}
nav a{
  background:white;
  color:plum;
  text-decoration:none;
	padding:10px;
}
main{
  padding:20px;
  flex:4;
}
table td{
  padding:10px;
}
table{
  border:2px solid plum;
  width:100%;
}
th{
  background:plum;
  color:white;
  padding:10px;
}





