header, main, footer {
  width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

header, footer {
  text-align: center;
}
